@keyframes move {
  0% {
    transform: translate(-300px, -300px);
  }
  25% {
    transform: translate(400px, -300px);
  }
  50% {
    transform: translate(400px, 300px);
  }
  75% {
    transform: translate(300px, 300px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@mixin test {
  width: 200px;
  height: 200px;
  border: 1px solid;
  box-shadow: 5px 5px 5px rgba(102, 224, 123, 0.6),
    inset 2px 2px 2px rgba(45, 123, 245, 0.6);
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  animation: move infinite 5s;
}

// 路由匹配的样式
.link-active {
    color: lightcoral;
}